:root {
  --bg: white;
  --text: black;
  --card: #eeeeee;
}

html.dark {
  --bg: #111;
  --text: #eee;
  --card: #222;
}

body {
  margin: 0;
  padding: 1rem;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

.site-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.card {
  background: var(--card);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.card.wide {
  grid-column: 1 / -1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #666;
  padding: 5px;
}
